
 <div class='container_for_registration' >
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class = 'email'>
  	<%= f.label :email %><br />
  	<%= f.email_field :email, autofocus: true %>
  </div>

  <div class='profile_container'>
    <div class = 'avatar_skill'>
      <% User::IMAGES.each do |image| %>
      <%= image_tag("/assets/avatars/#{image}.png") %>
      <%= f.radio_button(:image, image) %>
    <% end %>
   </div>
 </div>

  <div class='password'><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class= 'password_confirmation'><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>

