<%= form_for @project do |f| %>
  <%= f.label :name %> <%= f.text_field :name %><br/>
  <%= f.label :description %> <%= f.text_area :description %></br>
   <%= f.label :long_description %> <%= f.text_area :long_description %>
   <ul>
		<% Skill.all.each do |skill| %>
      <li>
        <%= check_box_tag 'skill_ids[]', skill.id, @project.skills.include?(skill) %>
        <%= label_tag skill.name %>
      </li>
		<% end %>
	</ul>
  <ul>
   <% @project.steps.each do |step| %>
   <li>
      <input name='steps[][id]' type ='hidden' value= '<%= step.id %>'/>
      <label>Name</label>
      <input name='steps[][name]' value= '<%= step.name %>'/>
      <label>Description</label>
      <textarea name='steps[][description]'><%= step.description %></textarea>
   </li>
   <% end %>
  </ul>
  <%= f.submit "EDIT" %>
<% end %>
<button id="back-button">
	<%= link_to "Back", projects_path %>
</button>



