<div class='container_for_registration'>
	<%= form_for @project do |f| %>
		<div class='new_proyect_name'>
			<%= f.label :'WHAT DO YO WANT TO BUILD ?' %><br/>
			<%= f.text_field :name , :size => ('55x30') %><br/>
	  </div>
	  <div class = 'new_proyect_description'>
	  	<%= f.label  :'EXPLAIN THE IDEA' %><br/>
	  	<%= f.text_area :description , :size => ('55x2')%><br/>
		</div>
		<div class= 'new_proyect_long_description'>
	  	<%= f.label :'AND THE DETAILS' %><br/>
	  	<%= f.text_area :long_description, :size => ('55x4') %>
		</div>
</div><br/>
<div class= 'skills_title'>SELECT PEOPLE YOU NEED<br/> TO MAKE THE PROJECT</div><br/>

<div class = 'skills_container'>
	<% Skill.all.each do |skill| %>
    <div class='skills_box'>
      <%= check_box_tag 'skill_ids[]', skill.id %>
      <%= label_tag skill.name %>
      <div class = 'avatar_skill'>
      	<%= image_tag("/assets/#{skill.name}.png") %>
     	</div>
    </div>
	<% end %>
</div>
  			<!-- <ul id='steps' class= 'steps_container'>
  				<li class= 'steps_box'>
  					<label> Name </label>
  					<input name='steps[][name]'/>
  					<label> Description </label>
  					<textarea name='steps[][description]'></textarea>
  				</li>
  			</ul>
				<button id = 'add_step'>Add new step</button>
				<button id = 'remove_step'>Remove new step</button> -->

	<div class= 'create_button'>
	  <%= f.submit "Create" %>
	</div>
		<% end %>
	<div class= 'back_button'>
		<%= link_to "Back", projects_path  %></div>
	</div>
</table>



<script type ='text/javascript'>
	$(function(){
		$('#add_step').click( function(){
			var $button = $(this),
			    $ul = $('#steps'),
			    $li = $ul.find('li').eq(0);
			$li.clone().appendTo($ul);
			return false;
		});
	});
</script>

<script type ='text/javascript'>
	$(function(){
		$('#remove_step').click( function(){
			var $button = $(this),
			    $ul = $('#steps'),
			    $li = $ul.find('li').eq(1);
			$li.remove();
			return false;
		});
	});
</script>