<div class='container_for_registration'>
	<%= form_for @project do |f| %>
		<div class='new_proyect_name'>
			<%= f.label :'WHAT DO YO WANT TO BUILD ?' %><br/>
			<%= f.text_field :name , :size => ('55x30') %><br/>
	  </div>
	  <div class = 'new_proyect_description'>
	  	<%= f.label  :'EXPLAIN THE IDEA' %><br/>
	  	<%= f.text_area :description , :size => ('55x2')%><br/>
		</div>
		<div class= 'new_proyect_long_description'>
	  	<%= f.label :'AND THE DETAILS' %><br/>
	  	<%= f.text_area :long_description, :size => ('55x4') %>
		</div>
</div><br/>
<div class= 'skills_title'>SELECT PEOPLE YOU NEED<br/> TO MAKE THE PROJECT</div><br/>

<div class = 'skills_container'>
	<% Skill.all.each do |skill| %>
    <div class='skills_box'>
      <%= check_box_tag 'skill_ids[]', skill.id %>
      <%= label_tag skill.name %>
      <div class = 'avatar_skill'>
      	<%= image_tag("/assets/#{skill.name}.png") %>
     	</div>
    </div>
	<% end %>
</div>
			<div class='steps_text'>EXPLAIN THE STEPS OF YOUR PROJECT</div>
  			<ul id='steps' class= 'steps_container'>
  				<li class= 'steps_box'>
  					<label>STEP 1</label><br/>
  					<input name='steps[][name]'/><br/>
  					<label>Description</label><br/>
  					<textarea name='steps[][description]'>
  					</textarea><br/>
  				</li>
  			</ul>
  			<div class= 'add_remove_buttons'>
				<button  id = 'add_step'>Add new step</button>
				<button  id = 'remove_step'>Remove new step</button>
			</div>
<div class= 'buttons_create_and_back'>
	<div class= 'create_button'>
	  <%= f.submit "Create", :class => 'button_new' %>
	</div>
		<% end %>
	<div class= 'back_button'>
			<button class= 'button_new'><%= link_to "BACK", projects_path, :class => 'btn2' %><button></div>
	</div>
</table>

</div>

<script type ='text/javascript'>
	$(function(){
		$('#add_step').click( function(){
			var $button = $(this),
			    $ul = $('#steps'),
			    $li = $ul.find('li').eq(0);
			var newLi = $li.clone();
			newLi.appendTo($ul);
			var i  = $('li.steps_box').length;
			var myI = i-1;
			console.log(i);
			var me = $('li.steps_box:eq(' + myI + ') label:first-child').text('STEP ' + i  );
			// console.log(me);
			return false;
		});
	});
</script>

<script type ='text/javascript'>
	$(function(){
		$('#remove_step').click( function(){
			var $button = $(this),
			    $ul = $('#steps'),
			    $li = $ul.find('li').last();
			$li.remove();
			return false;
		});
	});
</script>