<div class= 'container_for_show'>
	<div class = 'show_project_name'>
	<%= @project.name %>
	</div>
	<img class='show_image' src="/assets/example1.jpg" />
	<div class = 'show_project_description'>
	<%= @project.description %>
	</div>
	<div class = 'show_project_long_description'>
	<%= @project.long_description %>
	</div>
</div>
<div class='show_skills_container'>
	<% @project.skills.each do |project_skill| %>
	<div class="skills_box">
		<li><%= project_skill.name %></li>
		<div class = 'avatar_skill'>
      	<%= image_tag("/assets/#{project_skill.name}.png") %>
     	</div>
   	</div>
	<% end %>
</div>

<ul>
	<% @project.steps.each do |project_step| %>
		<li><%= project_step.name %>
			<%= project_step.description %>
		</li>
	<% end %>
</ul>

<%= link_to "Back", projects_path, :class => 'btn1'  %>